---

---

<footer>
  Inspired by the song of the same name by <a href="https://www.ladykashonline.com/">Lady Kash</a> released on <a href="https://www.akashik.co/releases/ritss">Akashik Rec.</a>
</footer>


<style>
  footer {
		margin: auto;
		padding: 1.5rem;
		/* max-width: 60ch; */
	}
  a:link, a:visited, a:hover{
    color: #EECA03;
    text-decoration: none;
  }
</style>
