---
export interface Props {
  desc?: string;
	title: string;
}

const { desc, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={desc} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script defer data-domain="insame.space" data-api="/stats/api/event" src="/stats/js/script.js"  nonce="Aq9rBiZag4ZK5t9YTHTyzMmKPLMzAsnf"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  @font-face {
      font-family: 'Neofolia';
      src: url('/fonts/neofolia.woff') format('woff'),
          url('/fonts/neofolia.woff2') format('woff2');
      font-style: normal;
      font-display: swap;
      font-weight: normal;
      text-rendering: optimizeLegibility;
    }
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		background-color: #000028;
    color: #fff;
		font-family: system-ui, sans-serif;
	}
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }
</style>
