---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script defer data-domain="insame.space" src="/plausible.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  @font-face {
      font-family: 'Neofolia';
      src: url('fonts/neofolia.woff') format('woff'), /* Modern Browsers */
          url('/fonts/neofolia.woff2') format('woff2'); /* Safari, Android, iOS */
      font-style: normal;
      font-display: swap;
      font-weight: normal;
      text-rendering: optimizeLegibility;
    }
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		background-color: #000028;
    color: #fff;
		font-family: system-ui, sans-serif;
	}
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }
</style>
